.add-dish-section {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 32px;
  }

  .add-dish-section .add-dish-button {
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .add-dish-section span {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    color: #6E7D75;
    line-height: 26px;
  }
  