<main class="dish-cards-section">
    <ul class="list-cards">

      <li class="card-item">
        <section class="kitchens-dishes-label">
          <p>Cozinha Taboa</p>
        </section>
        <section class="card-dishes-content">
          <div class="dish-info">
            <h3 class="dish-title">Spicy Chicken Tacos</h3>
            <p class="dish-description">Mexican, Tacos, Spicy</p>
            <div class="dietary-labels">
              <span class="dietary-item"
                ><i class="dietary-indicator blue"></i>Leite</span
              >
              <span class="dietary-item"
                ><i class="dietary-indicator red"></i>Glúten</span
              >
              <span class="dietary-item"
                ><i class="dietary-indicator orange"></i>Ovo</span
              >
            </div>
          </div>
          <div class="dish-image-container">
            <img
              src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Spicy Chicken Tacos"
            />
          </div>
        </section>
      </li>

      <li class="card-item">
        <section class="kitchens-dishes-label">
          <p>Cozinha Taboa</p>
        </section>
        <section class="card-dishes-content">
          <div class="dish-info">
            <h3 class="dish-title">Spicy Chicken Tacos</h3>
            <p class="dish-description">Mexican, Tacos, Spicy</p>
            <div class="dietary-labels">
              <span class="dietary-item"
                ><i class="dietary-indicator blue"></i>Leite</span
              >
              <span class="dietary-item"
                ><i class="dietary-indicator red"></i>Glúten</span
              >
              <span class="dietary-item"
                ><i class="dietary-indicator orange"></i>Ovo</span
              >
            </div>
          </div>
          <div class="dish-image-container">
            <img
              src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Spicy Chicken Tacos"
            />
          </div>
        </section>
      </li>

    </ul>
  </main>

  <div class="create-menu-button">
    <i class="fas fa-plus"></i>
    <span>Criar cardápio</span>
  </div>
