  .app-container {
    width: 100%;
    min-width: 375px; /* Mobile viewport width */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    padding-bottom: 100px; /* Space for bottom navigation */
  }

  @media (max-width: 475px) {

    .dish-card {
      flex-direction: column;
      align-items: flex-start;
    }
    .card-dishes-content {
      flex-direction: column-reverse;
    }

    .dish-info {
      flex: none;
    }

    .dish-image-container {
      width: 100%;
      height: 150px;
      margin-top: 10px;
    }
  }

  @media (max-width: 975px) {
    .list-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }